<div class="container">
    <div class="row">
        <div class="col-md-5 mt-5">
            <img src="assets/about1.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 mt-5">
            <img src="assets/1.png" class="img-fluid">
            <h1 class="heading">Years of experience<br> in business & events
                <br> conference</h1>
            <p class="text-secondary fst-bolder">{{paragraph}}</p>


            
            <button class="btn btn-warning btn-block">ReadMore</button>
        </div>
    </div>
</div>
